.button {
  padding: 15px 20px;
  background: #FFB548;
  border-radius: 2px;
  text-decoration: none;
  font-size: 16px;
  color: #000;
  font-weight: bold;
}

.sep {
  display: inline-block;
  width: 1px;
  height: 20px;
  background: #000;
}